@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="box">
    <h1 class="display-4">Welcome</h1>
    <p><h2>New Here? <a href="./home/Register">Register now!</a></h2>.</p>
    </div>
</div>
